:root {
  --backgrounds-material-light5-chrome-navigation-bar: rgba(
    255,
    255,
    255,
    0.75
  );
  --body-font-family: "SF Pro", Helvetica;
  --body-font-size: 17px;
  --body-font-style: normal;
  --body-font-weight: 400;
  --body-letter-spacing: -0.4300000071525574px;
  --body-line-height: 22px;
  --body-semibold-font-family: "SF Pro", Helvetica;
  --body-semibold-font-size: 17px;
  --body-semibold-font-style: normal;
  --body-semibold-font-weight: 400;
  --body-semibold-letter-spacing: -0.4300000071525574px;
  --body-semibold-line-height: 22px;
  --colorsblue-dark: rgba(10, 132, 255, 1);
  --footnote-font-family: "SF Pro", Helvetica;
  --footnote-font-size: 13px;
  --footnote-font-style: normal;
  --footnote-font-weight: 400;
  --footnote-letter-spacing: -0.07800000160932541px;
  --footnote-line-height: 18px;
  --subheadline-2-font-family: "SF Pro", Helvetica;
  --subheadline-2-font-size: 14px;
  --subheadline-2-font-style: normal;
  --subheadline-2-font-weight: 400;
  --subheadline-2-letter-spacing: -0.15399999916553497px;
  --subheadline-2-line-height: 18px;
  --subheadline-2-semibold-font-family: "SF Pro", Helvetica;
  --subheadline-2-semibold-font-size: 14px;
  --subheadline-2-semibold-font-style: normal;
  --subheadline-2-semibold-font-weight: 400;
  --subheadline-2-semibold-letter-spacing: -0.15399999916553497px;
  --subheadline-2-semibold-line-height: 18px;
  --system-ios-accent-black: rgba(0, 0, 0, 1);
  --system-ios-accent-black-duplicate: rgba(0, 0, 0, 1);
  --system-ios-accent-blue: rgba(0, 122, 255, 1);
  --system-ios-accent-blue-duplicate: rgba(0, 122, 255, 1);
  --system-ios-accent-grey: rgba(142, 142, 147, 1);
  --system-ios-accent-white: rgba(255, 255, 255, 1);
  --system-ios-accent-white-duplicate: rgba(255, 255, 255, 1);
  --system-ios-background-primary: rgba(255, 255, 255, 1);
  --system-ios-background-primary-duplicate: rgba(255, 255, 255, 1);
  --system-ios-fill-colors-secondary: rgba(120, 120, 128, 0.16);
  --system-ios-label-colors-primary: rgba(0, 0, 0, 1);
  --system-ios-label-colors-primary-duplicate: rgba(0, 0, 0, 1);
  --system-ios-label-colors-secondary: rgba(60, 60, 67, 0.6);
  --system-ios-label-colors-secondary-duplicate: rgba(60, 60, 67, 0.6);
  --system-ios-label-colors-tertiary: rgba(60, 60, 67, 0.3);
  --system-ios-separator-colors-non-opaque: rgba(60, 60, 67, 0.36);
  --telegram-telegram-link-color: rgba(0, 122, 255, 1);
  --variable-collection-black: rgba(0, 0, 0, 1);
  --variable-collection-black2: rgba(28, 28, 30, 1);
  --variable-collection-green1: rgba(26, 174, 112, 1);
  --variable-collection-green4: rgba(83, 220, 118, 1);
  --variable-collection-grey: rgba(209, 209, 209, 1);
  --variable-collection-red: rgba(238, 51, 84, 1);
  --variable-collection-TG-blue: rgba(0, 122, 255, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-yellow: rgba(255, 191, 27, 1);
  --font-family-inter: "Inter", Helvetica;
  --font-family-sf_pro-bold: "SF Pro-Bold", Helvetica;
  --font-family-sf_pro-medium: "SF Pro-Medium", Helvetica;
  --font-family-sf_pro-regular: "SF Pro-Regular", Helvetica;
  --font-family-sf_pro-semibold: "SF Pro-Semibold", Helvetica;
  --font-family-sf_pro_display-bold: "SF Pro Display-Bold", Helvetica;
  --font-family-sf_pro_display-medium: "SF Pro Display-Medium", Helvetica;
  --font-family-sf_pro_display-regular: "SF Pro Display-Regular", Helvetica;
  --font-family-sf_pro_display-semibold: "SF Pro Display-Semibold", Helvetica;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-system-ios-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-system-ios-mode="light"] {
  --system-ios-accent-blue: rgba(0, 122, 255, 1);
  --system-ios-accent-blue-duplicate: rgba(0, 122, 255, 1);
  --system-ios-background-primary: rgba(255, 255, 255, 1);
  --system-ios-background-primary-duplicate: rgba(255, 255, 255, 1);
  --system-ios-fill-colors-secondary: rgba(120, 120, 128, 0.16);
  --system-ios-label-colors-primary: rgba(0, 0, 0, 1);
  --system-ios-label-colors-primary-duplicate: rgba(0, 0, 0, 1);
  --system-ios-label-colors-secondary: rgba(60, 60, 67, 0.6);
  --system-ios-label-colors-secondary-duplicate: rgba(60, 60, 67, 0.6);
  --system-ios-label-colors-tertiary: rgba(60, 60, 67, 0.3);
  --system-ios-separator-colors-non-opaque: rgba(60, 60, 67, 0.36);
}

[data-system-ios-mode="dark"] {
  --system-ios-accent-blue: rgba(10, 132, 255, 1);
  --system-ios-accent-blue-duplicate: rgba(10, 132, 255, 1);
  --system-ios-background-primary: rgba(0, 0, 0, 1);
  --system-ios-background-primary-duplicate: rgba(0, 0, 0, 1);
  --system-ios-fill-colors-secondary: rgba(120, 120, 128, 0.32);
  --system-ios-label-colors-primary: rgba(255, 255, 255, 1);
  --system-ios-label-colors-primary-duplicate: rgba(255, 255, 255, 1);
  --system-ios-label-colors-secondary: rgba(235, 235, 245, 0.6);
  --system-ios-label-colors-secondary-duplicate: rgba(235, 235, 245, 0.6);
  --system-ios-label-colors-tertiary: rgba(235, 235, 245, 0.3);
  --system-ios-separator-colors-non-opaque: rgba(84, 84, 88, 0.65);
}

[data-telegram-mode="light"] {
  --telegram-telegram-link-color: rgba(0, 122, 255, 1);
}

[data-telegram-mode="dark"] {
  --telegram-telegram-link-color: rgba(62, 136, 247, 1);
}
