.count-down {
    -webkit-backdrop-filter: blur(10.8px) brightness(100%);
    align-items: center;
    backdrop-filter: blur(10.8px) brightness(100%);
    background-color: #000000;
    border-radius: 10px;
    display: inline-flex;
    gap: 4px;
    height: 30px;
    justify-content: center;
    overflow: hidden;
    padding: 4px 10px;
    position: relative;
  }
  
  .count-down .frame {
    background-image: url(https://cdn.animaapp.com/projects/66641dbc59e6661189d283f3/releases/6666d3e5104c030a6e50e352/img/vector.svg);
    background-size: 100% 100%;
    height: 24px;
    margin-left: -4278px;
    margin-top: -858px;
    position: relative;
    width: 24px;
  }
  
  .count-down .union {
    height: 14px;
    left: 6px;
    position: absolute;
    top: 5px;
    width: 12px;
  }
  
  .count-down .element {
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .count-down .default {
    color: var(--variable-collection-grey);
  }
  
  .count-down .sixty-s {
    color: var(--variable-collection-red);
  }
  