.history-list {
  align-items: flex-start;
  background-color: #1c1c1d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.history-list .leaderboard-top {
  align-items: center;
  align-self: stretch;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.history-list .frame-38 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.history-list .tab-bar {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  align-items: flex-start;
  align-self: stretch;
  backdrop-filter: blur(20px) brightness(100%);
  background-color: #000000;
  border-top: 0.33px solid #3c3c435c;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.history-list .home-indicator-instance {
  position: relative !important;
}
