.past-round {
  background: radial-gradient(
    100% 100% at 50% 0%,
    rgba(32, 176, 110, 0.5) 0%,
    rgba(28, 28, 30, 0.5) 100%
  );
  background-size: cover;
  border-radius: 15px;
  color: white;
  width: 100%;
}

.past-round.down {
  background: radial-gradient(
    100% 100% at 50% 0%,
    rgba(238, 53, 85, 0.5) 0%,
    rgba(28, 28, 30, 0.5) 100%
  );
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.last-price,
.locked-price,
.prize-pool {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change {
  color: #0f0;
}

.prize {
  display: flex;
  align-items: center;
}

.prize img {
  margin-right: 5px;
}
